.container-fluid{
    background-color: #252525;
    width: 100vw;
    height: 100vh;

}

.row{
    justify-content: center;
}
.col{
    text-align: center;
    justify-content: space-between;
    padding-top: 10px;
}

.btn-success{
    
    margin-right: 20px;
}
.btn{
    width: 120px;
}

.video-element{
    margin-top: 10%;
    width: 500px;
    height: 400px;
    background-color: #4e4646;
    border: solid #4e4646;
    border-radius: 10px;
}