{% extends "base.html" %} {% block title %}Visitor Recognizer{% endblock %} {%
    block content%}
<div class="container-fluid">
    <div class="row">
        <video autoplay="true" class="video-element" id="videoElement"></video>
    </div>
    <div class='row'>
        <div class="col">
            <button class='btn btn-success' onclick="startWebcam();">Start</button>
            <button class='btn btn-danger' onclick="stopWebcam();">Stop</button>
        </div>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript">

    // Basic Settings
    const socket = io('http://localhost:5000');
    const FPS = 20;
    const video = document.querySelector("#videoElement");
    var webcamStream;
    var choice;

    function startWebcam() {
        // Start Video Stream (access client webcam)
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    webcamStream = stream;
                    choice = true;
                    // schedule first one.
                    setTimeout(processVideo, 0);
                })
                .catch(function (err0r) {
                    console.log(err0r)
                    console.log("Something went wrong!");
                });
        }
    }

    function stopWebcam() {
        video.pause();
        video.src = "";
        webcamStream.getTracks()[0].stop();
        choice = false;
        console.log("Video off");
    }


    // returns a frame encoded in base64
    const getFrame = () => {
        const canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0);
        const data = canvas.toDataURL('image/jpeg');
        return data;
    }



    // Loop that process video
    function processVideo() {

        if (choice) {
            let begin = Date.now();

            frame64 = getFrame()

            handle_socket(frame64);

            console.log('toaq')
            // schedule next one.
            let delay = 1000 / FPS - (Date.now() - begin);
            setTimeout(processVideo, delay);
        }
    }



    // Send data over socket
    function handle_socket(data) {
        socket.emit('event', data);
    }
</script>



{% endblock %}