{% extends "base.html" %} {% block title %}Visitor Recognizer{% endblock %} {%
    block content%}
<div class="container-fluid">

    <video autoplay="true" class="video-element" id="videoElement"></video>

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript">

    const video = document.querySelector("#videoElement");

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
                video.play();

            })
            .catch(function (err0r) {
                console.log(err0r)
                console.log("Something went wrong!");
            });
    }


    // returns a frame encoded in base64
    const getFrame = () => {
        const canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0);
        const data = canvas.toDataURL('image/jpeg');
        return data;
    }

    const socket = io('http://localhost:5000');
    const FPS = 1;

    function processVideo() {

        let begin = Date.now();

        frame64 = getFrame()
        console.log(frame64)
        handle_socket(frame64);

        // schedule next one.
        let delay = 1000 / FPS - (Date.now() - begin);
        setTimeout(processVideo, delay);
    }
    // schedule first one.
    setTimeout(processVideo, 0);

    function handle_socket(data) {
        socket.emit('event', data);
    }
</script>



{% endblock %}